---
import Layout from '../layouts/Layout.astro';
import RoundedHoverLink from '../components/RoundedHoverLink';
import UnderlinedLink from '../components/UnderlinedLink';
import { Linkedin, Mail, GitHub } from 'react-feather';
import LaBoiteImmoIcon from '../components/icons/LaBoiteImmoIcon';
import Avatar from '../components/Avatar';
import CaseStudy from '../components/CaseStudy';
import Section from '../components/Section';
import Resume from '../components/Resume';
import Spotlight from '../components/Spotlight';
import ArticlePreview from '../components/ArticlePreview';
import React from 'react';
import { MarkdownInstance } from 'astro';
import ArticleFrontmatter from '../types/ArticleFrontmatter';

const cases = await Astro.glob('../pages/cases/*.md');
cases.sort((a, b) => a.frontmatter.order - b.frontmatter.order);

const articles = (await Astro.glob<ArticleFrontmatter>('../pages/articles/*.md'))
  .map((article) => ({
    ...article,
    frontmatter: {
      ...article.frontmatter,
      publishedAt: article.frontmatter.publishedAt ? new Date(article.frontmatter.publishedAt) : undefined,
    },
  }))
  .filter(
    (article): article is MarkdownInstance<ArticleFrontmatter & { publishedAt: Date }> =>
      !!article.frontmatter.publishedAt && !article.file.includes('/index.astro')
  );

articles.sort((a, b) => a.frontmatter.publishedAt.getTime() - b.frontmatter.publishedAt.getTime());
---

<Layout title="Grégory Gérard - Développeur web full-stack" className="cursor-disable">
  <Spotlight client:only="react" />

  <Section>
    <Avatar className="w-24 h-24" />
    <h1 class="max-w-3xl text-6xl tracking-tight font-bold">
      Développeur web full-stack chez{' '}
      <RoundedHoverLink href="https://la-boite-immo.com" target="_blank" rel="noreferrer" title="Site de La Boîte Immo">
        <LaBoiteImmoIcon className="inline" />
      </RoundedHoverLink>
    </h1>

    <p class="max-w-3xl leading-relaxed text-zinc-400">
      Je suis Grégory, un développeur web full-stack de {new Date().getFullYear() - 1999} ans, actuellement sur Hyères. En
      ce moment je suis Tech Lead chez
      <UnderlinedLink href="https://la-boite-immo.com" target="_blank" rel="noreferrer">La Boîte Immo</UnderlinedLink>,
      une société éditant des logiciels phares dans le secteur de l&apos;immobilier. En parallèle, je suis aussi
      freelance afin de vous accompagner dans vos projets.
    </p>

    <div class="flex gap-6 text-zinc-400">
      <RoundedHoverLink href="https://www.linkedin.com/in/gregoryger/" target="_blank" title="Mon profil Linkedin">
        <Linkedin size={24} />
      </RoundedHoverLink>
      <RoundedHoverLink
        href="https://github.com/Gregory-Gerard/gregory-gerard.dev"
        target="_blank"
        title="Mon profil Github"
      >
        <GitHub size={24} />
      </RoundedHoverLink>
      <RoundedHoverLink href="mailto:contact@gregory-gerard.dev" target="_blank" title="Me contacter par email">
        <Mail size={24} />
      </RoundedHoverLink>
    </div>
  </Section>

  <Section title="Quelques études de cas">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      {
        cases.map(async (item) => {
          /* @vite-ignore */
          const icon = (await import(`../components/icons/${item.frontmatter.icon}.tsx`)).default as React.FC;

          return (
            <CaseStudy
              title={item.frontmatter.title}
              headline={item.frontmatter.headline}
              background={item.frontmatter.background}
              icon={icon}
              url={item.url}
            />
          );
        })
      }
    </div>
  </Section>

  <div class="grid grid-cols-1 xl:grid-cols-3 gap-4">
    <Section title="Mes notes" className="col-span-2">
      {
        articles.map((article) => (
          <ArticlePreview
            title={article.frontmatter.title}
            metaDescription={article.frontmatter.metaDescription}
            url={article.url}
            publishedAt={article.frontmatter.publishedAt}
          />
        ))
      }

      <a
        href="/articles"
        class="self-start px-6 py-2 bg-zinc-800/50 hover:bg-zinc-800 font-medium text-sm tracking-wide rounded-2xl transition-colors"
      >
        En voir plus
      </a>
    </Section>

    <aside class="flex flex-col gap-6 p-6 rounded-2xl shadow-outline">
      <strong class="font-medium text-zinc-100">Parcours</strong>

      <Resume />
    </aside>
  </div>
</Layout>
